.someClass {font-family:arial;}
@media print {
    .noPrint { display: none; }

    .navbar-side ul.side-nav {display: none; width : 0px;}

    .navbar-brand {display:none;}
    #myprntbtn{
        display: none;
    }
    /* #header{
        display :block;
        }  */

} 