<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header id="myprntbtn"></app-header>
  <!-- end TOP NAVIGATION -->

  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page" id="myprntbtn"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->

  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">

    <div class="spl-content">

      <!-- begin PAGE TITLE ROW -->
      <div class="row" id="myprntbtn">
        <div class="col-lg-12">
          <div class="page-title">
            <h1>
              <small>Attendance Report</small>
            </h1>
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- end PAGE TITLE ROW -->
      <!-- [(ngModel)]="model" -->

      <div class="row">
        <form class="form-horizontal" [formGroup]="days_form">

          <div class="col-lg-2" id="myprntbtn">
            <label>From Date </label>
            <my-date-picker [options]="myDatePickerOptions" placeholder="DD-MMM-YYYY" name="fdate" #start formControlName="fdate" (dateChanged)="onDateChanged1($event)"></my-date-picker>
          </div>
          <div class="col-lg-2" id="myprntbtn">
            <label>To Date </label>
            <my-date-picker [options]="myDatePickerOptions2" placeholder="DD-MMM-YYYY" name="tdate" formControlName="tdate" (dateChanged)="onDateChanged($event)"></my-date-picker>
          </div>



          <div class="col-lg-2">
            <button type="submit" class="btn btn-default btn-square" (click)="gettablecalender()" style="margin-top: 22px; margin-right: 5px;">Submit</button>
          </div>
        </form>
        <div *ngIf="true2" class="col-lg-2">
          <label>Working Days</label>
          <td *ngIf="work ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 20px;" class="t-padding">0</td>
          <td *ngIf="work !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 20px;" class="t-padding">{{work}}</td>
        </div>
        <div class="clearfix"></div>

        <div *ngIf="show1" class="col-lg-8">
          <table class="table table-bordered t-padding">
            <tr class="t-padding">
              <th style="text-align: center;" >Worked days</th>
              <!-- <th style="text-align: center;" class="t-padding">Approved Leaves</th> -->
              <th style="text-align: center;"  class="back1"># Late In days</th>
              <th style="text-align: center;" class="back1"># Early Out days</th>
              <th style="text-align: center;" class="back3"># Single Punch days</th>
              <th style="text-align: center;" class="back4"># No Punch days</th>
              <th style="text-align: center;" >Average Duration Worked</th>

            </tr>
            <tbody>

              <tr>
                <td *ngIf="worked ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="worked !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{worked}}</td>
           
                <td *ngIf="lastin ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="lastin !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{lastin}}</td>

                <td *ngIf="lateout ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="lateout !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{lateout}}</td>

                <td *ngIf="count3 == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="count3 != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{count3}}</td>
               
                <td *ngIf="miss == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="miss!= null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{miss}}</td>
              
                <td *ngIf="hr == 'NaN'" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">0</td>
                <td *ngIf="hr != 'NaN'" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 15px;" class="t-padding">{{hr}}H {{avg4}}M</td>
              </tr>
            </tbody>
          </table>
        </div>



        <!-- for single employee -->




        <div *ngIf="view" class="row">
          <div class="col-md-12 tabel_overflow">
            <table class="table table-bordered table-green" [mfData]="no | dataFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th style="text-align: center;">
                    <mfDefaultSorter by="">#</mfDefaultSorter>
                  </th>
                  <th  style="text-align: center;">
                    <mfDefaultSorter by="tdate">Date</mfDefaultSorter>
                  </th>
                  <th  style="text-align: center;">
                    <mfDefaultSorter by="wday">Week day</mfDefaultSorter>
                  </th>
                  <th  style="text-align: center;">
                    <mfDefaultSorter by="morning"> Morning Punch</mfDefaultSorter>
                  </th>
                  <th  style="text-align: center;">
                    <mfDefaultSorter by="evening"> Evening Punch</mfDefaultSorter>
                  </th>
                  <th  style="text-align: center;">
                    <mfDefaultSorter by="difference">Duration</mfDefaultSorter>
                  </th>

                </tr>
              </thead>
              <!-- <tbody>
                <tr *ngFor="let fdt of mf.data;">
                  <td>{{data.indexOf(fdt) + 1}}</td>
                  <td>{{fdt.tdate}}</td>
                  <td>{{fdt.wday}}</td>
                  <td>{{fdt.morning}}</td>
                  <td>{{fdt.evening}}</td>
                  <td>{{fdt.difference}}</td>

                </tr>
              </tbody> -->
              <tbody *ngFor="let fdt of mf.data">
                <tr *ngIf="fdt.it <= '09:00:00' && fdt.ot >= '16:00:00'" class="back">
                    <td style="text-align: center;">{{no.indexOf(fdt) + 1}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date: 'dd-MMM-yyyy'}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date:'EEEE'}}</td>
                    <td style="text-align: center;">{{fdt.it}}</td>
                    <td style="text-align: center;">{{fdt.ot}}</td>
                    <td style="text-align: center;">{{fdt.difference1}}</td>
                </tr>

                <tr *ngIf="fdt.it >= '09:01:00' || fdt.ot <= '15:59:00'" class="back1">
                    <td style="text-align: center;">{{no.indexOf(fdt) + 1}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date: 'dd-MMM-yyyy'}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date:'EEEE'}}</td>
                    <td style="text-align: center;">{{fdt.it}}</td>
                    <td style="text-align: center;">{{fdt.ot}}</td>
                    <td style="text-align: center;">{{fdt.difference1}}</td>
                </tr>
                <tr *ngIf="(fdt.it  == null  && fdt.ot >= '16:00:00')  ||  (fdt.it <= '09:00:00' && fdt.ot == null)" class="back3">
                    <td style="text-align: center;">{{no.indexOf(fdt) + 1}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date: 'dd-MMM-yyyy'}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date:'EEEE'}}</td>
                    <td style="text-align: center;">{{fdt.it}}</td>
                    <td style="text-align: center;">{{fdt.evening}}</td>
                    <td style="text-align: center;">{{fdt.difference1}}</td>
                </tr>
                <tr *ngIf="fdt.it == null && fdt.ot == null" class="back4">
                    <td style="text-align: center;">{{no.indexOf(fdt) + 1}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date: 'dd-MMM-yyyy'}}</td>
                    <td style="text-align: center;">{{fdt.tdate | date:'EEEE'}}</td>
                    <td style="text-align: center;">{{fdt.it}}</td>
                    <td style="text-align: center;">{{fdt.evening}}</td>
                    <td style="text-align: center;">{{fdt.difference1}}</td>
                </tr>
            </tbody>
              <tbody *ngIf="mf.data.length == 0">
                <tr rowspan="2">
                  <td colspan="12">
                    <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                  </td>
                </tr>
              </tbody>
              <tfoot style="border: 0px solid">
                <tr style="border: 0px solid">
                  <td colspan="12" style="border: 0px solid">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30,rowscount]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>