@media print{
    #myprntbtn{
        display: none;
    }
    #myprntbtn1{
        display: inline;
    }
}
a{
    cursor:pointer
    }



label {
    margin-bottom: 0px;
}
select.input-sm {
   height: 38px !important;

}
.btn-pm {
   padding: 8px 10px !important;

}
.scroll-height{
   height: 200px;
   overflow: scroll;
}

.back{
    background: rgb(167, 253, 197);
}
.back1{
    background:#FFBF00;
}
.back2{
    background:rgb(241, 111, 59);
}
.back3{
    background:rgb(255, 238, 192);
}
.back4{
    background:#ffa4a4;
}




#header-count {
    width:auto;
    position:fixed;
    top:0px;
}

#header{
display :none;
} 






/*.form-control {
    width: 90% !important;
}*/

.add_sub {
    margin-top: 6px !important;
    padding: 2px 4px !important;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}





@media print {
 
    #myPrntbtn {
        display: none;
    }
}

th {
text-align:center;
}

.table-fit {
    width: 1px;
}

.table-fit2 {
    width: 1px;
     background-color: darkred;
}
       
    /* #myPrntbtn1 {

        display: none;

    }
     #myPrntbtn {

            display: inline;

    } */
 .mhr{
     display:none;
 }

@media print {
    #myPrntbtn {

            display: none;

    }

    .mhr{
        display:inline;
    }
      #myPrntbtn1 {

        display: inline;

    }

    #header-count {
    width:auto;
    position:fixed;
    top:0px;
}

   
    #content {
    width: auto;
    border:0px solid #CCC;
    height:auto;
    margin: 70px auto;
    top:500px;
}
 

       
}


.table-border{
    border: none !important;
}






