<div id="wrapper">
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->
  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu *ngIf="true1"  [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->
  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">
    <div class="spl-content">
      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!-- <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li class="active">Courses</li>
              </ol> -->
          </div>
        </div>
      </div>
      <div *ngIf="data != 1" style="overflow: scroll;height: 550px;">
          <div class="small-12 column">
            <h1>Terms and Conditions</h1>
            <p>
              <br>
            </p>
            <p>
              <strong>1. Introduction.</strong> Please read this page carefully. It contains the terms and conditions (the "Terms and Conditions")
              governing your access to and use of the CareerBuilder Web Sites and the Services (as each are defined below) provided
              by CareerBuilder, LLC or one of its divisions (collectively, "CareerBuilder"). If you do not accept these Terms and
              Conditions or you do not meet or comply with their provisions, you may not use the CareerBuilder Web Sites or Services.
              These Terms and Conditions are effective as of January 4, 2017.
            </p>
            <p>
              <strong>2. Binding Agreement.</strong> These Terms and Conditions (as they may be amended from time to time by CareerBuilder),
              together with your Advertising and Candidate Search Service Agreement (if applicable), form a binding agreement (the
              "Agreement") between you and CareerBuilder. Your access to or use of the CareerBuilder Web Sites or Services indicates
              your acceptance of these Terms and Conditions. You are agreeing to use the Sites at your own risk.
            </p>
            <p>
              <strong>3. Certain Definitions.</strong> The following definitions apply to this Agreement:
            </p>
            <p>
              <strong>3.1 "CareerBuilder Materials" </strong>includes any materials, methodologies, implementation plans or other intellectual
              property used during the provision of Services.
            </p>
            <p>
              <strong>3.2 "CareerBuilder Web Site" or the "Site" (collectively, the "CareerBuilder Websites" or the "Sites")</strong>
              means any web site under CareerBuilder's control, whether partial or otherwise and includes such Site's Content, CareerBuilder
              Materials and Services (as applicable in each context).
            </p>
            <p>
              <strong>3.3 "Content"</strong> means CareerBuilder's web pages, web forms, programming (including software code used on the
              Sites and in the Services, including (i) tools, kits, and object libraries, (ii) all third-party or open source code
              embedded therein, and (iii) any upgrades, updates, releases, fixes, enhancements or modifications to the foregoing),
              graphics, images, design (color combinations and page layout), text, information, data, resumes stored in various commercial
              databases operated and licensed by CareerBuilder (including, among others, its "Resume Database," "Salary Calculator
              Database," "TalentStream Supply &amp; Demand Database" and the Recruitment Edge Database), data submitted via the Sites
              by Users and other content made available through the Sites by CareerBuilder.
            </p>
            <p>
              <strong>3.5 "Document"</strong> refers to any posting to a Site, whether job or resume.
            </p>
            <p>
              <strong>3.6 "Employer"</strong> means a person or entity that is accessing a Site to post a job or utilizing the Services for
              any reason related to the purpose of seeking candidates for employment.
            </p>
            <p>
              <strong>3.7 "Employer Materials" </strong>includes any brochures, emails, sample job postings, web site content, career fair
              material, audio, videos, photographs, logos, trademarks, service marks, domain names, documents or other materials
              provided by Employer, if any, for use in connection with the Services.
            </p>
            <p>
              <strong>3.9 "Job Seeker"</strong> means a User who is accessing a Site to search for a job or in any other capacity except
              as an Employer.
            </p>
            <p>
              <strong>3.10 "Services"</strong> means any services provided by CareerBuilder or its agents described herein and specified
              more fully in the Service Activation Agreement.
            </p>
            <p>
              <strong>3.12 "User"</strong> refers to any individual or entity that uses any aspect of the Sites.
            </p>
            <p>
              <strong>3.13 "You" or "you" </strong>means the person who (or the entity on behalf of whom you are acting) that is agreeing
              to these Terms and Conditions.
            </p>
            <p>
              <strong>4. Intellectual Property Rights and Acceptable Use of the Sites and Services.</strong>
            </p>
            <p>
              <strong>4.1 General Use Rules.</strong> The Sites are intended for individuals seeking employment and for employers or recruiters
              seeking candidates for employment. You may use the Sites only for lawful purposes within the stated context of CareerBuilder's
              intended and acceptable use of the Sites. CareerBuilder is the sole interpreter of the Sites' intended and acceptable
              use.
            </p>
            <p>
              <strong>4.2 CareerBuilder Intellectual Property Rights.</strong> The Sites, the CareerBuilder Materials and all right, title
              and interest in and to the Sites and CareerBuilder Materials are the sole property of CareerBuilder or its licensors,
              and are protected by United States and foreign copyright, trademark and other laws. Except for the limited licenses
              expressly granted to you in these Terms and Conditions, CareerBuilder reserves for itself and its licensors all other
              rights, title and interest. Without limitation on the foregoing, you may not reproduce, modify, display, sell, or distribute
              the Content or CareerBuilder Materials, or use them in any other way for public or commercial purpose. Notwithstanding
              anything to the contrary contained herein, this prohibition includes: (a) copying or adapting the HTML code used to
              generate web pages on the Sites; (b) using or attempting to use engines, manual or automated software, tools, devices,
              agents, scripts, robots or other means, devices, mechanisms or processes (including, but not limited to, browsers,
              spiders, robots, avatars or intelligent agents) to navigate, search, access, "scrape," "crawl," or "spider" any web
              pages or any Services provided on the Sites other than the search engine and search agents available from CareerBuilder
              on such CareerBuilder Sites and other than generally available third party web browsers (e.g., Internet Explorer, Firefox,
              Safari); and (c) aggregating, copying or duplicating in any manner any of the Content or information available from
              any of the CareerBuilder Sites, without the express written consent of CareerBuilder. The use of the Content on any
              other web site or in a networked computer environment for any purpose is strictly prohibited. The CareerBuilder Materials
              are not considered to be works for hire and you may duplicate such CareerBuilder Materials only for the purposes outlined
              in the Service Activation Agreement. "CareerBuilder," "Personified", the CareerBuilder design logo and certain other
              names or logos are service marks or trademarks of CareerBuilder, and all related product and service names, design
              marks and slogans are the service marks or trademarks of CareerBuilder. In addition, the "look" and "feel" of the Sites
              (including color combinations, button shapes, layout, design and all other graphical elements) are also protected by
              CareerBuilder's trademarks, service marks and copyrights. Any code that CareerBuilder creates to generate or display
              the Content or the pages making up the Sites is also protected by CareerBuilder's copyright. You must retain all copyright,
              trademark, service mark and other proprietary notices contained on the Content or CareerBuilder Materials on any authorized
              copy you make of the Content or CareerBuilder Materials. All other product and service marks contained on the Sites
              are the trademarks of their respective owners.
            </p>
            <p>
              <strong>4.3 License to Use by Users who are Job Seekers.</strong> CareerBuilder hereby grants you a limited, terminable, non-exclusive
              right to access and use the Sites only for your personal use seeking employment opportunities for yourself. This authorizes
              you to view and download a single copy of the material on the Sites solely for your personal, noncommercial use. You
              agree that you are solely responsible for the content of any Document you post to a Site and any consequences arising
              from such posting. Your use of the Sites is a privilege. CareerBuilder reserves the right to suspend or terminate that
              privilege for any reason at any time, in its sole discretion.
            </p>
            <p>
              <strong>4.4 License to Use by Users who are Employers.</strong> CareerBuilder hereby grants you a limited, terminable, non-exclusive
              right to access and use the Sites only for your internal business use seeking candidates for employment. This authorizes
              you to view and download a single copy of the material on the Sites solely for your personal use directly related to
              searching for and recruiting job prospects. CareerBuilder also grants you a limited, terminable, non-exclusive license
              to use the CareerBuilder Materials and Services for your internal use only. You may not sell, transfer or assign any
              of the Services or your rights to any of the Services provided by CareerBuilder to any third party without the express
              written authorization of CareerBuilder. You agree that you are solely responsible for the content of any Document you
              post to a Site and any consequences arising from such posting. CareerBuilder reserves the right to suspend or terminate
              your access and use at any time if CareerBuilder determines that you are in breach of these Terms and Conditions.
            </p>
            <p>
              <strong>4.5 Employer Materials. </strong>Employer represents, warrants and covenants that any Employer Materials provided by
              Employer for use in connection with the Services will not violate any laws or regulations or third-party proprietary
              rights, including, without limitation, copyright, trademark, obscenity, rights of publicity or privacy, and defamation
              laws.
              <strong> </strong>Employer hereby grants CareerBuilder a non-exclusive, worldwide, royalty-free license to use the Employer
              Materials and to hyperlink to Employer's website in connection with the Services.
            </p>
            <p>
              <strong>4.6 Use of Aggregate Data.</strong> You understand and agree that CareerBuilder owns and has the right to collect,
              extract, compile, synthesize, and analyze Aggregate Data. CareerBuilder may use such Aggregate Data for any lawful
              business purpose without a duty of accounting to you, provided that the data and information is used only in an aggregated
              and anonymized form so that it cannot be identifiable as relating to you, your Company or to any other Job Seekers.
              "Aggregate Data"
              <strong> </strong>means de-identified aggregated data or information regarding Job Seekers' educational or career history (including,
              by way of example and not limitation, aggregate data relating to Job Seekers' occupation, location, salary, education
              and experience).
            </p>
            <p>
              <strong>4.7 Other Specific Rules Regarding Site Usage.</strong> You represent, warrant and agree that you (a) are at least
              13 years of age or older, and if under the age of 18 or the age of majority as that is defined in your jurisdiction,
              you will only use the Sites and Services under the supervision of a parent, legal guardian, or other responsible adult;
              and (b) will not use (or plan, encourage or help others to use) the Sites for any purpose or in any manner that is
              prohibited by these Terms and Conditions or by applicable law. It is your responsibility to ensure that your use of
              the Sites complies with these Terms and Conditions and all applicable laws.
              <strong>
              </strong>
            </p>
            <p>
              <strong>4.8 User Submissions. </strong>
              <strong>CareerBuilder welcomes your comments regarding the Services and the Sites and appreciates hearing from you. Please
                note, however, that CareerBuilder does not accept or consider creative ideas, suggestions, inventions or materials
                other than those which it has specifically requested. If you submit feedback on the Services, please be specific
                in your comments and do not submit creative ideas, inventions, suggestions, or materials. If, despite this notice,
                you send CareerBuilder creative suggestions, ideas, drawings, concepts, inventions, or other information (a "User
                Submission"), you understand and agree that the User Submission shall become the property of CareerBuilder. User
                Submission and any elements contained in User Submissions, shall not be subject to any obligation of confidentiality
                on CareerBuilder's part, and CareerBuilder will not be liable for any use or disclosure of any User Submission. CareerBuilder
                shall exclusively own all now known or later discovered rights to the User Submission and shall be entitled to unrestricted
                use of the User Submission for any purpose whatsoever, commercial or otherwise, without compensation to you or any
                other person.</strong>
            </p>
            <p>
              <strong>5. Third Party Providers. </strong>You acknowledge and agree that CareerBuilder may provide the Services using third
              party providers, including subcontractors and consultants (the "Third Party Providers"). You agree that, as between
              CareerBuilder and its Third Party Providers, CareerBuilder will have sole responsibility for handling all billing and
              contract negotiations.
            </p>
            <p>
              <strong>6. Disclaimers and Limitations on CareerBuilder's Liability.</strong>
            </p>
            <p>
              <strong>6.1 Allocation of Responsibility</strong> CareerBuilder assumes no responsibility for Documents posted by Users and
              no responsibility for the activities, omissions or other conduct of Users. CareerBuilder acts as a portal for the online
              distribution and publication of User submitted information and has no obligation to screen communications or information
              in advance and is not responsible for screening or monitoring Documents posted by Users. If notified by a User of a
              Document which allegedly does not conform to these Terms and Conditions, CareerBuilder may investigate the allegation
              and determine in good faith and in its sole discretion whether to remove or request the removal of such Document. CareerBuilder
              has no liability or responsibility to Users for performance or nonperformance of such activities. CareerBuilder may
              take any action with respect to User submitted information that it deems necessary or appropriate, in its sole discretion.
            </p>
            <p>
              <strong>6.2 No endorsements by CareerBuilder.</strong> Nothing on the Sites shall be considered an endorsement, representation
              or warranty with respect to any User or third party, whether in regards to its web site, products, services, hiring,
              experience, employment or recruiting practices, or otherwise.
            </p>
            <p>
              <strong>6.3 WARRANTY DISCLAIMERS.</strong>
            </p>
            <p>
              (a) THE SITES ARE PROVIDED ON AN 'AS IS' BASIS WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED. CAREERBUILDER, TO
              THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY,
              TITLE, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR A PARTICULAR PURPOSE. CAREERBUILDER MAKES NO WARRANTIES
              ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE SITES.
            </p>
            <p>
              (b) WITHOUT LIMITATION ON THE FOREGOING:
            </p>
            <p>
              (i) CAREERBUILDER DOES NOT WARRANT THAT THE SITES WILL OPERATE ERROR-FREE OR THAT THE SITES AND THEIR SERVERS ARE FREE OF
              COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF THE SITES RESULTS DIRECTLY OR INDIRECTLY IN THE NEED FOR
              SERVICING OR REPLACING EQUIPMENT OR DATA, CAREERBUILDER IS NOT RESPONSIBLE FOR THOSE COSTS.
            </p>
            <p>
              (ii) CareerBuilder makes no representations or guarantees regarding the truthfulness, accuracy, LEGALITY, completeness, timeliness
              or reliability of any Documents posted by Users, or of any other form of communication engaged in by Users. Documents
              may contain inaccuracies or typographical errors. You agree that any reliance on Documents posted by Users, or on any
              other form of communication with Users, will be at your own risk.
            </p>
            <p>
              (iii) CareerBuilder makes no representations or guarantees regarding the Content of the SiteS, including, but not limited
              to, broken links, inaccuracies or typographical errors.
            </p>
            <p>
              (iv) CAREERBUILDER MAKES NO REPRESENTATIONS OR GUARANTEES REGARDING THE EFFECTIVENESS OF THE SERVICES OR TIMELINESS OF THE
              SERVICES IN MEETING YOUR EMPLOYMENT OBJECTIVES. CAREERBUILDER DOES NOT GUARANTEE THAT THE SERVICES WILL RESULT IN CANDIDATES
              BEING HIRED, POSITIONS BEING FILLED OR EMPLOYEES BEING RETAINED, AND IS NOT RESPONSIBLE OR LIABLE FOR ANY BUSINESS,
              EMPLOYMENT, HIRING AND/OR SALARY DECISIONS, FOR WHATEVER REASON MADE, MADE BY YOU.
            </p>
            <p>
              <strong>8. Links to Other Sites.</strong> CareerBuilder contains links to third party web sites. These links are provided solely
              as a convenience to you and not as an endorsement by CareerBuilder of the contents on such third-party web sites. CareerBuilder
              is not responsible for the content of linked third-party sites and does not make any representations regarding the
              content or accuracy of materials on such third-party web sites. If you decide to access linked third-party web sites,
              you do so at your own risk.
            </p>
            <p>
              <strong>9. Amendments to this Agreement and Changes to Sites.</strong> CareerBuilder may revise these Terms and Conditions
              at any time by updating this page. Changes will be binding on you on the date they are posted on the Sites (or as otherwise
              stated in the any notice of such changes). Any use of a Site will be considered acceptance by you of the then-current
              Terms and Conditions (including any exhibits thereto) contained on such Site. If at any time you find the Terms and
              Conditions unacceptable, you may not use the applicable Site any longer. Any new or different terms supplied by you
              are specifically rejected by CareerBuilder unless CareerBuilder agrees to them in a signed writing specifically including
              those new or different terms. CareerBuilder may change the Sites at any time.
            </p>
            <p>
              <strong>10. Indemnity.</strong> You agree to defend, indemnify, and hold harmless CareerBuilder (and its subsidiaries, affiliates,
              officers, directors, employees and agents) from and against any third party claims, actions or demands (including,
              without limitation, costs, damages and reasonable legal and accounting fees) alleging or resulting from or in connection
              with your use of the Sites, any Document posted by you, your use of the Services or your breach of this Agreement.
              CareerBuilder shall use reasonable efforts to provide you prompt notice of any such claim, suit, or proceeding and
              may assist you, at your expense, in defending any such claim, suit or proceeding.
            </p>
            <p>
            </p>
          </div>
          <br>
          <!-- <input type="checkbox" value="check" [(ngModel)]="check"> I Agree Terms & Conditions
              <br>
              <br> -->
          <button class="btn btn-default" (click)="terms()" type="button">I Accept Terms & Conditions</button>
          <div class="clearfix"></div>
        </div>
      <div class="clearfix"></div>

      <div *ngIf="true1" class="col-lg-12">
        Coming Soon...
      </div>

    </div>
  </div>
</div>




