<div id="wrapper">
    <!-- begin TOP NAVIGATION -->
    <app-header></app-header>
    <!-- end TOP NAVIGATION -->

    <!-- begin SIDE NAVIGATION -->
    <app-sidemenu [page]="_apiService.page"></app-sidemenu>
    <!-- end SIDE NAVIGATION -->

    <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">

        <div class="spl-content">

            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Machines <small>Management</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li class="active">Machines</li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="portlet portlet-green">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>List of Machines</h4>
                            </div>
                            <div class="portlet-widgets">
                                <a class="btn btn-xs btn-success" (click)="activeAdd()"><i class="fa fa-plus"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;" >Machine Id</th>
                                            <th style="text-align:center;">Machine Name</th>
                                            <th style="text-align:center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="machines">
                                        <tr *ngFor="let dt of machines">
                                            <td style = "text-align:center;">{{dt.mid}}</td>
                                            <td style="text-align:center;">{{dt.name}}</td>
                                            <td style="text-align:center;">
                                                <a class="btn btn-xs btn-warning" (click)="editMachine(dt)"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="!machines.length">
                                        <tr *ngFor="let dt of machines">
                                            <td colspan="3">No data found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.portlet -->
                </div>
                <div class="col-lg-6">
                    <div class="portlet portlet-blue" *ngIf="addStatus">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Add New Machine</h4>
                            </div>
                            <div class="portlet-widgets">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form class="form-horizontal" role="form" (ngSubmit)="af.form.valid && saveMachine()" #af="ngForm" novalidate>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Machine Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Machine Name" name="name" #name [(ngModel)]="addModel.name" required>
                                            <!-- <div *ngIf="af.submitted && !name.valid" class="help-block text-red">Machine Name is required</div> -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-default">Add Machine</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="portlet portlet-purple" *ngIf="!addStatus">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Update Machine</h4>
                            </div>
                            <div class="portlet-widgets">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && updateMachine()" #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Machine Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Machine Name" name="name" #name [(ngModel)]="editModel.name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn btn-default">Update Machine</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.page-content -->

    </div>
    <!-- /#page-wrapper -->
    <!-- end MAIN PAGE CONTENT -->

</div>