@media print{
    #myprntbtn{
        display: none;
    }
}




label {
    margin-bottom: 0px;
}
select.input-sm {
   height: 38px !important;

}
.btn-pm {
   padding: 8px 10px !important;

}
.scroll-height{
   height: 200px;
   overflow: scroll;
}