<div id="wrapper">
    <!-- begin TOP NAVIGATION -->
    <app-header id="myprntbtn"></app-header>
    <!-- end TOP NAVIGATION -->

    <!-- begin SIDE NAVIGATION -->
    <app-sidemenu [page]="_apiService.page" id="myprntbtn"></app-sidemenu>
    <!-- end SIDE NAVIGATION -->

    <!-- begin MAIN PAGE CONTENT -->
    <div id="page-wrapper">

        <div class="spl-content">

            <!-- begin PAGE TITLE ROW -->
            <div class="row" id="myprntbtn">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>
                            Monthly
                            <small>Attendance Report</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>
                                <a [routerLink]="['/dashboard']">Daily Attendance</a>
                            </li>
                            <!--<li class="active">Blank Page</li>-->
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            <!-- [(ngModel)]="model" -->

            <div class="row" #test *ngIf="role && (role == 'admin' || role == 'management' || role == 'attendance')">
                <form class="form-horizontal" [formGroup]="days_form">

                    <div class="col-lg-3" id="myprntbtn">
                        <label>From Date </label>
                        <my-date-picker [options]="myDatePickerOptions"  placeholder="DD-MMM-YYYY" name="fdate" #start formControlName="fdate" (dateChanged)="onDateChanged1($event)"
                            ></my-date-picker>
                    </div>
                    <div class="col-lg-3" id="myprntbtn">
                        <label>To Date </label>
                        <my-date-picker [options]="myDatePickerOptions2"   placeholder="DD-MMM-YYYY" name="tdate" formControlName="tdate" (dateChanged)="onDateChanged($event)"
                        ></my-date-picker>
                    </div>
                    <div class="col-lg-3">
                        <label>Select </label>
                        <angular2-multiselect formControlName="selectid" [data]="dropdownList" class="form-control" [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                    </div>

                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-default btn-square" (click)="gettablecalender()" style="margin-top: 25px; margin-right: 5px;">Submit</button>
                    </div>
                </form>


                <!-- for late commers -->
                <div *ngIf="show" class="col-lg-4">
                    <table class="table table-bordered t-padding">
                        <tr class="t-padding">
                            <th style="text-align: center;" class="t-padding">Late In</th>
                            <th style="text-align: center;" class="t-padding">Early Out</th>
                        </tr>
                        <tbody>

                            <tr>
                                <td *ngIf="count1 == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="count1 != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="button"
                                    (click)=view1() class="t-padding">{{count1}} </td>

                                <td *ngIf="count2 == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="count2 != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="button"
                                    (click)=view2() class="t-padding">{{count2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-lg-12" *ngIf="collegdepts">
                    <div class="portlet portlet-green" *ngFor="let cdt of collegdepts">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Department of
                                    <b>{{cdt.department_name}}</b>, {{cdt.college_name}}</h4>
                            </div>
                            <div class="portlet-widgets">
                                <div class="btn-group">
                                    <button type="button" id="myprntbtn" (click)="print()" style="margin-right:5px" class="btn btn-xs btn-primary btn-square">Export to PDF</button>

                                    <button type="button" id="myprntbtn" style="margin-right:5px" (click)="export('csv',[cdt])" class="btn btn-xs btn-default btn-square">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </button>
                                </div>
                                Date: from
                                <b>{{model.date.day}}/{{model.date.month}}/{{model.date.year}} </b> to:
                                <b>{{model1.date.day}}/{{model1.date.month}}/{{model1.date.year}} </b>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            <div id="table_wrapper">
                                <div class="table-responsive">

                                    <table id="dailyReportKWH" class="table table-condensed table-responsive table-hover table-bordered table-striped" *ngFor="let stt of idsdata[cdt.id]">
                                        <thead>
                                            <tr>
                                                <th colspan="5">{{stt}} ({{model.date.day}}/{{model.date.month}}/{{model.date.year}} - {{model1.date.day}}/{{model1.date.month}}/{{model1.date.year}})
                                                    <span class="pull-right">{{cdt.college_name}} - {{cdt.department_name}}</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <!-- <tbody *ngIf ="stt != cdt.id">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody> -->
                                        <!-- <tbody  *ngIf ="cdt.id"> -->
                                        <tbody>

                                            <tr *ngFor="let fdt of mondata[cdt.id][stt]">
                                                <td width="20%">{{fdt.name}}</td>
                                                <td width="20%">{{fdt.date}}</td>
                                                <td width="20%">{{fdt.weekday}}</td>
                                                <td width="20%">{{fdt.morning}}</td>
                                                <td width="20%">{{fdt.evening}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <button type="button" (click)="export('csv',cdt,mondata[cdt.id][this.idsdata[cdt.id]])" class="btn btn-default btn-square">
                                    <i class="fa fa-file-excel-o"></i> Export to Excel 
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.portlet -->
                </div>



                <div *ngIf="show1" class="col-lg-4">
                    <table class="table table-bordered t-padding">
                        <tr class="t-padding">
                            <th style="text-align: center;" class="t-padding">Working Days</th>
                            <th style="text-align: center;" class="t-padding">Worked Days</th>
                            <th style="text-align: center;" class="t-padding">Leaves</th>
                            <th style="text-align: center;" class="t-padding">Miss punch</th>
                            <th style="text-align: center;" class="t-padding">No punches</th>
                            <th style="text-align: center;" class="t-padding">Average</th>

                        </tr>
                        <tbody>

                            <tr>

                                <td *ngIf="work ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="work !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{work}}</td>


                                <td *ngIf="worked ==null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="worked !=null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{worked}}</td>

                                <td style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="count3 == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{count3}}</td>
                                <td *ngIf="count3 != null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{count3}}</td>
                                <td *ngIf="miss == null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="miss!= null" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{miss}}</td>
                                <td *ngIf="hr == 'NaN'" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">0</td>
                                <td *ngIf="hr != 'NaN'" style="text-align: center; font-weight: bold; color: #1b45e6; font-size: 17px;" class="t-padding">{{hr}}hr.{{avg4}}min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <!-- for single employee -->
                <div class="col-lg-12" *ngIf="display">
                    <div class="portlet portlet-green">

                        <div class="clearfix"></div>
                        <div class="portlet-body">
                            <div id="table_wrapper">
                                <div class="table-responsive">

                                    <table class="table table-bordered table-green">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>College</th>
                                                <th>Day</th>
                                                <th>In</th>
                                                <th>Out</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let fdt of data">
                                                <td width="20%">{{fdt.name}}</td>
                                                <td width="20%">{{fdt.college}}</td>
                                                <td width="20%">{{fdt.wday}}</td>
                                                <td width="20%">{{fdt.morning}}</td>
                                                <td width="20%">{{fdt.evening}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.portlet -->
                </div>


                <!-- <div class="col-lg-12" *ngIf="view">
                    <div class="portlet portlet-green" *ngFor="let cdt of collegdepts1">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h4>Department of
                                    <b>{{cdt.department_name}}</b>, {{cdt.college_name}}</h4>
                            </div>
                            <div class="portlet-widgets">
                                <div class="btn-group">
                                    <button type="button" id="myprntbtn" (click)="print()" style="margin-right:5px" class="btn btn-xs btn-primary btn-square">Export to PDF</button>

                                    <button type="button" id="myprntbtn" style="margin-right:5px" (click)="export('csv',[cdt])" class="btn btn-xs btn-default btn-square">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </button>
                                </div>
                                Date: from
                                <b>{{model.date.day}}/{{model.date.month}}/{{model.date.year}} </b> to:
                                <b>{{model1.date.day}}/{{model1.date.month}}/{{model1.date.year}} </b>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            <div id="table_wrapper">
                                <div class="table-responsive">

                                    <table class="table table-condensed table-responsive table-hover table-bordered table-striped" *ngFor="let stt of idsdata1[cdt.id]">
                                        <thead>
                                            <tr>
                                                <th colspan="5">{{stt}} ({{model.date.day}}/{{model.date.month}}/{{model.date.year}} - {{model1.date.day}}/{{model1.date.month}}/{{model1.date.year}})
                                                    <span class="pull-right">{{cdt.college_name}} - {{cdt.department_name}}</span>
                                                </th>
                                            </tr>
                                        </thead>
                                            <tbody>

                                            <tr *ngFor="let fdt of mondata1[cdt.id][stt]">
                                                <td width="20%">{{fdt.name}}</td>
                                                <td width="20%">{{fdt.date}}</td>
                                                <td width="20%">{{fdt.weekday}}</td>
                                                <td width="20%">{{fdt.morning}}</td>
                                                <td width="20%">{{fdt.evening}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="view" class="row">
                    <div class="col-md-12 tabel_overflow">
                        <table class="table table-bordered table-green" [mfData]="data2 | dataFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                            [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead>
                                <tr>
                                    <th nowrap>
                                        <mfDefaultSorter by="reg_no">Redg No</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="college">College</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="department">Department</mfDefaultSorter>
                                    </th>
                                    <th nowrap>
                                        <mfDefaultSorter by="tdate">Date</mfDefaultSorter>
                                    </th>
                                    <th nowrap>
                                        <mfDefaultSorter by="wday">weekday</mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="morning"> Morning</mfDefaultSorter>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fdt of mf.data; let k=index;">
                                    <td>{{fdt.reg_no}}</td>
                                    <td>{{fdt.name}}</td>
                                    <td>{{fdt.college}}</td>
                                    <td>{{fdt.department}}</td>
                                    <td>{{fdt.tdate}}</td>
                                    <td>{{fdt.wday}}</td>
                                    <td>{{fdt.morning}}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="mf.data.length == 0">
                                <tr rowspan="2">
                                    <td colspan="12">
                                        <h4 *ngIf="mf.data.length == 0" class="text-center"> No Data found</h4>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot style="border: 0px solid">
                                <tr style="border: 0px solid">
                                    <td colspan="12" style="border: 0px solid">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>



            </div>

            <div class="row" *ngIf="role && (role != 'admin' && role != 'management' && role != 'attendance')">
                <div class="col-lg-12">
                    <h4>Coming Soon...!</h4>
                </div>
            </div>


        </div>
        <!-- /.page-content -->

        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    </div>
</div>