/* .login-foot {
    color: #ccc;
    margin-top: -10px;
}

.help-block {
    color: #c22;
    font-size: 12px;
    float: right;
}

#page-wrapper {
    margin: 50px 0 0 0;
    min-height: auto !important;
} */
