<div id="wrapper">
  <!-- begin TOP NAVIGATION -->
  <app-header></app-header>
  <!-- end TOP NAVIGATION -->
  <!-- begin SIDE NAVIGATION -->
  <app-sidemenu [page]="_apiService.page"></app-sidemenu>
  <!-- end SIDE NAVIGATION -->
  <!-- begin MAIN PAGE CONTENT -->
  <div id="page-wrapper">
    <div class="spl-content">
      <!-- begin PAGE TITLE ROW -->
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <!-- <ol class="breadcrumb">
                  <li><i class="fa fa-dashboard"></i> <a [routerLink]="['/dashboard']">Dashboard</a>
                  </li>
                  <li class="active">Courses</li>
                </ol> -->
          </div>
        </div>
      </div>

      <!-- <div class="row" *ngIf="this.loading == true"> -->
      <div class="row">
        <div class="col-lg-12">
          <div class="portlet portlet-default">
            <div class="portlet-heading">
              <div class="portlet-title">
                <h4>
                  <i class="fa fa-user"></i> Student List</h4>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
              <form class="form-horizontal" novalidate [formGroup]="searchform" role="form">
                <div class="form-group">
                  <div class="col-lg-3" [ngClass]="{'has-error': displayMessage.college_name }">
                    <label>College Name</label>
                    <select class="form-control" (change)="callcollege($event)" name="college_name" formControlName="college_name">
                      <option value="">--Select--</option>
                      <option *ngFor="let type of collegedata" [value]="type.id">{{type.full_name}}</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.college_name">
                      {{displayMessage.college_name}}
                    </span>
                  </div>
                  <div class="col-lg-3" [ngClass]="{'has-error': displayMessage.course }">
                    <label>Course</label>
                    <select class="form-control" (change)="callcourse($event)" name="course" formControlName="course">
                      <option value="">--Select--</option>
                      <option *ngFor="let type of newcourse" [value]="type.id">{{type.course}}</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.course">
                      {{displayMessage.course}}
                    </span>
                  </div>
                  <div class="col-lg-2" [ngClass]="{'has-error': displayMessage.branch }">
                    <label>Branch</label>
                    <select class="form-control" (change)="callbranch($event)" name="branch" formControlName="branch">
                      <option value="">--Select--</option>
                      <option *ngFor="let type of newbranch" [value]="type.id">{{type.branch}}</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.branch">
                      {{displayMessage.branch}}
                    </span>
                  </div>
                  <div class="col-lg-2" [ngClass]="{'has-error': displayMessage.year }">
                    <label>Year</label>
                    <select class="form-control" (change)="callyear($event)" name="year" formControlName="year">
                      <option value="">--Select--</option>
                      <option *ngFor="let type of newyear" [value]="type.yid">{{type.year}}</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.year">
                      {{displayMessage.year}}
                    </span>
                  </div>
                  <div class="col-lg-2" [ngClass]="{'has-error': displayMessage.section }">
                    <label>Section</label>
                    <select class="form-control" (change)="callsection($event)" name="section" formControlName="section">
                      <option value="">--Select--</option>
                      <option *ngFor="let type of addsection" [value]="type.id">{{type.section}}</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.section">
                      {{displayMessage.section}}
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3" [ngClass]="{'has-error': displayMessage.section }">
                    <label>Percentage</label>
                    <select class="form-control" name="percentage" formControlName="percentage">
                      <option value="">--Select--</option>
                      <option value="60">Greater than or equal to 60</option>
                      <option value="65">Greater than or equal to 65</option>
                      <option value="70">Greater than or equal to 70</option>
                      <option value="75">Greater than or equal to 75</option>
                      <option value="80">Greater than or equal to 80</option>
                      <option value="85">Greater than or equal to 85</option>
                    </select>
                    <span style="color:red;" *ngIf="displayMessage.percentage">
                      {{displayMessage.percentage}}
                    </span>
                  </div>
                  <div class="col-lg-3">
                    <div class="col-lg-6" [ngClass]="{'has-error': displayMessage.backlogs }">
                      <label>Backlogs</label>
                      <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" formControlName="backlogs"></ss-multiselect-dropdown>
                      <span style="color:red;" *ngIf="displayMessage.backlogs">
                        {{displayMessage.backlogs}}
                      </span>
                    </div>
                    <div class="col-lg-6">
                      <label></label>
                      <button (click)="checkbyper(searchform)" [disabled]="!this.searchform.valid" style="margin-top:22px;" class="btn btn-green btn-square pull-right">Submit</button>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <label>Total Count</label>
                    <input type="text" class="form-control" value={{this.totalcount}} readonly>
                  </div>
                  <div class="col-lg-2"></div>
                  <!-- <div class="col-lg-2">
                    <button [disabled]="stdsendsms.length == 0" class="btn btn-square btn-info pull-right" style="margin-top: 24px;" (click)="openemail()">
                      Send Email</button>
                  </div> -->
                </div>
                <hr>
              </form>
              <div class="row">
                  <div class="col-xs-offset-6 col-sm-offset-7 col-xs-2 col-sm-1">
                    <label class="label-control search-label">Search</label>
                  </div>
                  <div class="col-xs-4" style="margin-top: -5px;">
                    <input class="form-control input-sm" [(ngModel)]="filterQuery" />
                  </div>
                </div>
                <br/>
              <table class="table table-striped table-bordered table-hover table-green" [mfData]="details1 | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
                      <mfDefaultSorter by="first_name">Student Name</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="university_reg_number">Reg No</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="dob">Date of birth</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="email_id">Email</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="mobile_number">Mobile No</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="backlogs">Backlogs</mfDefaultSorter>
                    </th>
                    <th>Status
                      <!-- <input class="pull-right" type="checkbox" name="reg_no" (change)="selectallstd($event)" /> -->
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data; let i = index;">
                    <td>{{details1.indexOf(item) + 1}}</td>
                    <td>{{item.first_name}}</td>
                    <td *ngIf="item.stu_status == '0' ">{{item.university_reg_number}}
                    </td>
                    <td *ngIf="item.stu_status != '0' ">{{item.university_reg_number}}
                      <a style="cursor:pointer;" (click)="mymodal.open(rowdata=item);placementdatabyID(rowdata=item)">
                        <span class="label label-info">{{item.stu_status}}</span>
                      </a>
                    </td>
                    <td>{{item.dob| date:mediumDate}}</td>
                    <td>{{item.email_id}}</td>
                    <td>{{item.mobile_number}}</td>
                    <td class="text-center">{{item.backlogs}}</td>
                    <td>
                      <!-- <button (click)="approvedatabyid(eid=item)" class="btn btn-xs btn-purple btn-square">Approved</button> -->
                      <span *ngIf="item.c_status == 0">
                        <button (click)="studetails.open(id=item)" class="btn btn-xs btn-blue btn-square">Check Details</button>
                        <!-- <input *ngIf="item.reg_no == '0'" type="checkbox" name="reg_no" (change)="semailtoselectedstd(item,item.university_reg_number, i)"
                          [disabled]=item.disabled />
                        <input *ngIf="item.reg_no != '0'" type="checkbox" name="reg_no" (change)="semailtoselectedstd(item,item.university_reg_number, i)"
                          [disabled]=item.disabled checked/> -->
                      </span>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr *ngIf="details1.length == 0">
                    <td colspan="8" class="text-center">
                      No Data Found
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,75,100]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.portlet-body -->
          </div>
          <!-- /.portlet -->

          <div *ngIf="email ==true">
            <div class="portlet portlet-default">
              <div class="portlet-heading">
                <div class="portlet-title">
                  <h4>Send Email / Messages</h4>
                </div>
                <div class="portlet-widgets">
                  <i class="fa fa-times" (click)="closeemail()" style="cursor:pointer;"></i>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="portlet-body">

                <form class="form-horizontal" novalidate [formGroup]="emailform" role="form">
                  <div class="col-lg-12 form-group">
                    <div class="input-group">
                      <span class="input-group-addon">To:</span>
                      <span *ngFor="let item of stdsendsms">
                        <span class="badge"> {{item.email_id}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Cc:</span>
                      <input type="text" class="form-control" formControlName="ccmail" name="ccmail" required>
                      <!-- <div style="color:red" *ngIf="title.errors && (title.dirty || title.touched || form.submitted)">
                                <p *ngIf="title.errors.required" style="color:red">
                                  Event Title is required
                                </p>
                              </div> -->
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <div class="input-group">
                      <span class="input-group-addon">From:</span>
                      <input type="text" class="form-control" formControlName="fromemail" name="fromemail" required readonly>
                    </div>
                  </div>
                  <hr>
                  <div class="col-lg-12 form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Subject:</span>
                      <input type="text" class="form-control" formControlName="subject" name="subject" required>
                    </div>
                  </div>
                  <hr>
                  <div class="col-lg-12 form-group">
                    <label>Message:</label>
                    <ckeditor [config]="{ toolbar: [
                              { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                              { name: 'editing', items: [ 'Scayt' ] },
                              { name: 'links', items: [ 'Link', 'Unlink' ] },
                              { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
                              { name: 'tools', items: [ 'Maximize' ] },
                              { name: 'document', items: [ 'Source' ] },
                              '/',
                              { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
                              { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
                              { name: 'styles', items: [ 'Styles', 'Format' ] }	] }" formControlName="description" name="description"
                      [(ngModel)]="ckeditorContent" required>
                    </ckeditor>
                  </div>
                  <div class="col-lg-12 form-group">
                    <button class="btn btn-default btn-square" (click)="sendsms(stdsendsms)">
                      <i class="fa fa-envelope"></i> Send</button>
                    <button class="btn btn-red pull-right btn-square" (click)="closeemail()">
                      <i class="fa fa-times"></i> Discard</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- /.page-content -->
  </div>
  <!-- /#page-wrapper -->
  <!-- end MAIN PAGE CONTENT -->
</div>
<modal #studetails modalClass="modal-dialog1 modal-flex modal-lg">
  <modal-header>
    <h4 class="modal-title">{{id.first_name}}{{id.last_name}} Details</h4>
  </modal-header>
  <modal-content>
    <table class="table table-striped table-bordered table-ho87pxver">
      <tr>
        <th Style="width: 180px;">University Reg No</th>
        <td Style="width: 180px;">{{id.university_reg_number}}
          <span *ngIf="id.reg_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th Style="width: 180px;">College Name</th>
        <td Style="width: 180px;">{{id.clg_fullname}}
          <span *ngIf="id.college_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Course</th>
        <td>{{id.actual_course}}
          <span *ngIf="id.course_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Year</th>
        <td>{{id.actual_year}}
          <span *ngIf="id.year_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Student Name</th>
        <td>{{id.first_name}}{{id.last_name}}
          <span *ngIf="id.firstname_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Date of birth</th>
        <td>{{id.dob}}
          <span *ngIf="id.dob_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{id.email_id}}
          <span *ngIf="id.email_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Aadhar No</th>
        <td>{{id.aadhaar_number}}
          <span *ngIf="id.aadhar_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Mother Name</th>
        <td>{{id.mothers_name}}
          <span *ngIf="id.mother_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Father Name</th>
        <td>{{id.fathers_name}}
          <span *ngIf="id.father_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Mobile No</th>
        <td>{{id.mobile_number}}
          <span *ngIf="id.mobile_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Alternative Mobile No</th>
        <td>{{id.alternate_mobile_number }}
          <span *ngIf="id.altermobile_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{id.address}}
          <span *ngIf="id.address_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Backlogs</th>
        <td>{{id.backlogs}}
          <span *ngIf="id.backlogs_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Class X Board</th>
        <td>{{id.x_board}}
          <span *ngIf="id.Xboard_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Class X Percentage</th>
        <td>{{id.x_percentage}}
          <span *ngIf="id.Xper_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Class X Year of passing</th>
        <td>{{id.x_year_of_passing}}
          <span *ngIf="id.Xpass_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Class XII / Diploma</th>
        <td>{{id.xII_board}}
          <span *ngIf="id.XIIboard_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Class XII / Diploma Percentage</th>
        <td>{{id.xII_percentage}}
          <span *ngIf="id.XIIper_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>Class XII / Diploma Year of passing</th>
        <td>{{id.xII_year_of_passing}}
          <span *ngIf="id.XIIpass_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>Section</th>
        <td>{{id.actual_section}}
          <span *ngIf="id.section_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>BTech</th>
        <td>{{id.btech_board}}
          <span *ngIf="id.btechboard_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr>
        <th>BTech - CGPA Percentage</th>
        <td>{{id.btech_percentage}}
          <span *ngIf="id.btechper_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
        <td class="empty_td"></td>
        <th>BTech Year of passing</th>
        <td>{{id.btech_year_of_passing}}
          <span *ngIf="id.btechpass_status == '1' ">
            <i class="fa fa-check pull-right" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <!-- <tr>
          <th>Status</th>
          <td>{{id.c_status}}</td>
          <span *ngIf = "id.reg_status == '1' "><i  class="fa fa-check pull-right" aria-hidden="true"></i></span>
          <td class="empty_td"></td>
          <th>Resume</th>
          <td><i class="fa fa-file-text fa-lg"></i> </td>
          <span *ngIf = "id.reg_status == '1' "><i  class="fa fa-check pull-right" aria-hidden="true"></i></span>
        </tr> -->

      </tbody>
    </table>
    <div class="clearfix"></div>
    <!-- <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
  
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
  
        </div>
      </div> -->
  </modal-content>
  <modal-footer>
    <button class="btn btn-square btn-primary" (click)="studetails.close()">close</button>
  </modal-footer>
</modal>

<modal #crosscheck modalClass="modal-dialog1 modal-flex modal-lg">
  <modal-header>
    <h4 class="modal-title">Selected Students count {{stdsendsms.length}}</h4>
  </modal-header>
  <modal-content>
    <table class="table table-striped table-bordered table-hover table-green" [mfData]="stdsendsms" #mf4="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th>#</th>
          <th>Reg No</th>
          <th>Name</th>
          <!-- <th>Branch</th> -->
          <th>Email Id</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf4.data">
          <td>{{stdsendsms.indexOf(item) + 1}}</td>
          <td *ngIf="item.stu_status == '0' ">{{item.university_reg_number}}
          </td>
          <td *ngIf="item.stu_status != '0' ">{{item.university_reg_number}}
            <span class="label label-info">{{item.stu_status}}</span>
          </td>
          <!-- <td class="text-center">{{item.branch}}</td> -->
          <td>{{item.first_name}}</td>
          <td>{{item.email_id}}</td>
          <td>{{item.mobile_number}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngIf="mf4.data.length == 0">
          <td colspan="5" class="text-center">
            No Data Found
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,75,100]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="clearfix"></div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-square btn-primary" (click)="crosscheck.close()">close</button>
  </modal-footer>
</modal>

<modal #mymodal modalClass="modal-dailog1 modal-flex modal-lg">
  <modal-header>
    <h4 class="modal-title">Placement Details
    </h4>
  </modal-header>
  <modal-content>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-6">
          <label>Registration No</label>
          <input type="text" class="form-control" value="{{rowdata.university_reg_number}}" readonly/>
        </div>
        <div class="col-lg-6">
          <label>College Name</label>
          <input type="text" class="form-control" value="{{rowdata.clg_fullname}}" readonly/>
        </div>
      </div>
    </form>
    <table class="table table-striped table-bordered table-hover table-green">
      <thead>
        <tr>
          <th>#</th>
          <th>Company Name</th>
          <th>Drive Disp Name </th>
          <th>Package
            <i class="fa fa-inr"></i> L</th>
          <th>Company Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of placementdetailsbyid; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.company}}</td>
          <td>{{item.drive_dispname}}</td>
          <td>{{item.package}}</td>
          <td>{{item.location}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngIf="placementdetailsbyid.length == 0">
          <td class="text-center" colspan="3">
            No Data Found
          </td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-square btn-primary" (click)="mymodal.close()">close</button>
  </modal-footer>
</modal>


<!-- <modal #verfication modalClass="modal-dialog1 modal-flex modal-lg">
    <modal-header>
      <h4 class="modal-title">Alert !!!</h4>
    </modal-header>
    <modal-content>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-6">Please Enter Your Credentails Which is sent to your mobile</label>
          <input type="text" class="form-control" name="otp1" (change)="check" >
        </div>
      </form>
      <div class="clearfix"></div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-square btn-primary" (click)="verfication.close()">close</button>
    </modal-footer>
  </modal> -->